<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="~/img/favicons/favicon.ico" />

    <title>EDW REPORTING</title>
    <!-- Custom styles for this template -->
    @Styles.Render("~/Content/styles")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">EDW Reporting</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="http://kernel/">Dashboard</a>
        </nav>
         @Html.ActionLink("Log Out", "LogOff", null,new { @class= "btn btn-outline-dark" })
    </div>

    <div class="container">
    @RenderBody()
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>




    